*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
.landing-page{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 23%, rgba(28, 117, 135, 1) 100%);
}
.landing-page h1{
    color: aliceblue;
    font-size:100px;
    margin-bottom: 20px;
}
.landing-page button{
    padding: 10px 20px;
    margin-bottom: 20px;
  

}
.card-body{
    height: 100vh;
    width: 100%;
    background-color: #141230;

}
.container{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    width: 100%;

    justify-content: center;
    
  
}
.col{
    width: 15%;
    display: flex;
    justify-content: center;
    margin-inline: 10px;
    


  
}
.col img{
    width: 150px;
    border-radius: 10px;
}

.row-2{
    display: flex;

}
/* ........................................................................................ */'
.card-game{
    display: grid;
    grid-template-columns: repeat();
}